@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<!-- Table hiển thị danh sách các department -->
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th> <!-- Cột số thứ tự -->
            <th>DoctorName</th>
            <th>PatientName</th>
            <th>Date</th>
            <th>Room</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (appointment, index) in Model.Select((value, i) => (value, i)))
        {
            <tr>
                <td>@(index + 1)</td> <!-- Số thứ tự -->
                <td>@appointment.Doctor.FirstName @appointment.Doctor.LastName</td>
                <td>@appointment.Patient.FirstName @appointment.Patient.LastName</td>
                <td>@appointment.AppointmentDate</td>
                <td>@appointment.Room.RoomNumber</td>
                <td>@appointment.Status</td>
            </tr>
        }
    </tbody>
</table>
